html {
	/*height: 100%;*/
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,f282bc+82,f282bc+82 */
	background: #7db9e8; /* Old browsers */
}

.header {
	text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;

}

.signupform .title p {
	margin-top: 0;
}

.signupform .title h4 {
	margin: 0;
	padding-top: 20px;
}

.signupform {
	width: 400px;
	margin: auto;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px -4px 5px 1px rgba(0,0,0,0.16);
-moz-box-shadow: 0px -4px 5px 1px rgba(0,0,0,0.16);
box-shadow: 0px -4px 5px 1px rgba(0,0,0,0.16);
}

.signupform .title {
	border-bottom: 1px solid #d2d0d0;
	padding-left: 20px;
}

.signupform .title p {
	color: #aba9a9;
	font-size: 12px;
}

.signupform>form {
	padding: 15px 20px; 
}

.signupform form>.form-ctrl {
	padding: 10px 0;

}

.signupform form>.form-ctrl label {
	display: block;
	font-size: 10px;
	color: #aba9a9;
	margin-bottom: 3px;
}

.signupform form>.form-ctrl input {
	width: 100%;
    padding: 11px 10px;
    border: 1px solid #e0dede;
    border-radius: 4px;
    -moz-box-shadow: inset 0px -4px 5px 1px rgba(0,0,0,0.16);
    -webkit-box-shadow: inset 1px -1px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: inset 1px -1px 5px 0px rgba(0,0,0,0.11);
    box-shadow: inset 1px -1px 5px 0px rgba(0,0,0,0.11);
}

.signupform form>.form-ctrl input:focus {
	border-color: rgba(24,150,247,1);
	outline: 0 none;
	-webkit-box-shadow: 1px 0px 5px 0px rgba(24,150,247,1);
-moz-box-shadow: 1px 0px 5px 0px rgba(24,150,247,1);
box-shadow: 1px 0px 5px 0px rgba(24,150,247,1);
}

.signupform form .check {
	font-size: 10px;
	color: #aba9a9;
	margin: 10px 0;
}

.signupform form .submit a {
	background-color: #03a9f4;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;

}


.footer {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.footer .title {
	font-size: 14px;
	color: #000;
}

.footer p {
	margin: 0;
	color: grey;
	font-size: 12px;
}







